.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 20px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 1rem;
  }
  